OPENMAT_PRIMARY.ENV=local

OPENMAT_SERVER.PORT=8080
OPENMAT_SERVER.READ_TIMEOUT=30
OPENMAT_SERVER.WRITE_TIMEOUT=30
OPENMAT_SERVER.IDLE_TIMEOUT=60
OPENMAT_SERVER.CORS_ALLOWED_ORIGINS=http://localhost:3001

OPENMAT_DATABASE.HOST=localhost
OPENMAT_DATABASE.PORT=5432
OPENMAT_DATABASE.USER=
OPENMAT_DATABASE.PASSWORD=
OPENMAT_DATABASE.NAME=
OPENMAT_DATABASE.SSL_MODE=disable
OPENMAT_DATABASE.MAX_OPEN_CONNS=25
OPENMAT_DATABASE.MAX_IDLE_CONNS=25
OPENMAT_DATABASE.CONN_MAX_LIFETIME=300
OPENMAT_DATABASE.CONN_MAX_IDLE_TIME=300

OPENMAT_AUTH.SECRET_KEY="your_secret_:)"
OPENMAT_AUTH.TTL_HOURS=6

TERN_DSN="host=localhost port=5432 dbname= user= password="

OPENMAT_REDIS.ADDRESS="redis://localhost:6379"

OPENMAT_OBSERVABILITY.SERVICE_NAME=openmat
OPENMAT_OBSERVABILITY.ENVIRONMENT=development

OPENMAT_OBSERVABILITY.LOGGING.LEVEL=debug
OPENMAT_OBSERVABILITY.LOGGING.FORMAT=json

OPENMAT_OBSERVABILITY.NEW_RELIC.LICENSE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENMAT_OBSERVABILITY.NEW_RELIC.APP_LOGS_FORWARDING_ENABLED=true
OPENMAT_OBSERVABILITY.NEW_RELIC.DISTRIBUTED_TRACING_ENABLED=true
OPENMAT_OBSERVABILITY.NEW_RELIC.DEBUGLOGGER=false

OPENMAT_OBSERVABILITY.HEALTH_CHECKS.CHECKS=databse,redis
OPENMAT_OBSERVABILITY.HEALTH_CHECKS.ENABLED=true
OPENMAT_OBSERVABILITY.HEALTH_CHECKS.INTERVAL=30s
OPENMAT_OBSERVABILITY.HEALTH_CHECKS.TIMEOUT=5s
